p {
    background-color: red;
    width: 75px;
    height: 75px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: 1px solid green;
    height: 230px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container2 {
    border: 1px solid green;
    height: 200px;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 1px
}
.container2 p:nth-child(2) {
    order: -1;
}
.container2 p:nth-of-type(4) {
    align-self: flex-end;
}
.container2 p:nth-of-type(5) {
    align-self: center;
}
